html {
  font-size: 13.33333vw;
}
@media screen and (max-width: 320px) {
  html {
    font-size: 42.667px;
    font-size: 13.33333vw;
  }
}
@media screen and (min-width: 321px) and (max-width: 360px) {
  html {
    font-size: 48px;
    font-size: 13.33333vw;
  }
}
@media screen and (min-width: 361px) and (max-width: 375px) {
  html {
    font-size: 50px;
    font-size: 13.33333vw;
  }
}
@media screen and (min-width: 376px) and (max-width: 393px) {
  html {
    font-size: 52.4px;
    font-size: 13.33333vw;
  }
}
@media screen and (min-width: 394px) and (max-width: 412px) {
  html {
    font-size: 54.93px;
    font-size: 13.33333vw;
  }
}
@media screen and (min-width: 413px) and (max-width: 414px) {
  html {
    font-size: 55.2px;
    font-size: 13.33333vw;
  }
}
@media screen and (min-width: 415px) and (max-width: 480px) {
  html {
    font-size: 64px;
    font-size: 13.33333vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 540px) {
  html {
    font-size: 72px;
    font-size: 13.33333vw;
  }
}
@media screen and (min-width: 541px) and (max-width: 640px) {
  html {
    font-size: 85.33px;
    font-size: 13.33333vw;
  }
}
@media screen and (min-width: 641px) and (max-width: 720px) {
  html {
    font-size: 96px;
    font-size: 13.33333vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 768px) {
  html {
    font-size: 102.4px;
    font-size: 13.33333vw;
  }
}
@media screen and (min-width: 769px) {
  html {
    font-size: 102.4px;
    font-size: 13.33333vw;
  }
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header,
footer,
section,
article,
aside,
nav,
address,
figure,
figcaption,
menu,
details {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, "微软雅黑";
  color: #333;
  outline: 0;
}
body {
  background: #fff;
}
a,
a:hover {
  color: #333;
}
button[disabled],
html input[disabled] {
  cursor: default;
  background: transparent;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input,
textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: 0;
  appearance: none;
}
.f-cb:after,
.f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.f-cb,
.f-cbli li {
  zoom: 1;
}
.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.f-dn {
  display: none;
}
.f-db {
  display: block;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.f-pr {
  position: relative;
}
.f-prz {
  position: relative;
  zoom: 1;
}
.f-oh {
  overflow: hidden;
}
.f-ff0 {
  font-family: arial, "微软雅黑";
}
.f-ff1 {
  font-family: "Microsoft YaHei";
}
.f-fs1 {
  font-size: 0.12rem;
}
.f-fs2 {
  font-size: 0.14rem;
}
.f-fwn {
  font-weight: normal;
}
.f-fwb {
  font-weight: bold;
}
.f-tal {
  text-align: left;
}
.f-tac {
  text-align: center;
}
.f-tar {
  text-align: right;
}
.f-taj {
  text-align: justify;
  text-justify: inter-ideograph;
}
.f-vam,
.f-vama * {
  vertical-align: middle;
}
.f-wsn {
  word-wrap: normal;
  white-space: nowrap;
}
.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.f-ti {
  overflow: hidden;
  text-indent: -30000rem;
}
.f-ti2 {
  text-indent: 2em;
}
.f-lhn {
  line-height: normal;
}
.f-tdu,
.f-tdu:hover {
  text-decoration: underline;
}
.f-tdn,
.f-tdn:hover {
  text-decoration: none;
}
.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.f-csp {
  cursor: pointer;
}
.f-csd {
  cursor: default;
}
.f-csh {
  cursor: help;
}
.f-csm {
  cursor: move;
}
.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.fs12 {
  font-size: 0.12rem;
}
.fs14 {
  font-size: 0.14rem;
}
.fs16 {
  font-size: 0.16rem;
}
.fs18 {
  font-size: 0.18rem;
}
.fs20 {
  font-size: 0.2rem;
}
.fs22 {
  font-size: 0.22rem;
}
.fs24 {
  font-size: 0.24rem;
}
.fs30 {
  font-size: 0.3rem;
}
.pl0 {
  padding-left: 0;
}
.pl5 {
  padding-left: 0.05rem;
}
.pl10 {
  padding-left: 0.1rem;
}
.pl20 {
  padding-left: 0.2rem;
}
.pl30 {
  padding-left: 0.3rem;
}
.pt0 {
  padding-top: 0;
}
.pt5 {
  padding-top: 0.05rem;
}
.pt10 {
  padding-top: 0.1rem;
}
.pt20 {
  padding-top: 0.2rem;
}
.pt30 {
  padding-top: 0.3rem;
}
.pb0 {
  padding-bottom: 0;
}
.pb5 {
  padding-bottom: 0.05rem;
}
.pb10 {
  padding-bottom: 0.1rem;
}
.pb20 {
  padding-bottom: 0.2rem;
}
.pb30 {
  padding-bottom: 0.3rem;
}
.pr0 {
  padding-right: 0;
}
.pr5 {
  padding-right: 0.05rem;
}
.pr10 {
  padding-right: 0.1rem;
}
.pr20 {
  padding-right: 0.2rem;
}
.pr30 {
  padding-right: 0.3rem;
}
.ml0 {
  margin-left: 0;
}
.ml5 {
  margin-left: 0.05rem;
}
.ml10 {
  margin-left: 0.1rem;
}
.ml20 {
  margin-left: 0.2rem;
}
.ml30 {
  margin-left: 0.3rem;
}
.mr0 {
  margin-right: 0;
}
.mr5 {
  margin-right: 0.05rem;
}
.mr10 {
  margin-right: 0.1rem;
}
.mr20 {
  margin-right: 0.2rem;
}
.mr25 {
  margin-right: 5.2rem;
}
.mr30 {
  margin-right: 0.3rem;
}
.mt0 {
  margin: 0;
}
.mt5 {
  margin-top: 0.05rem;
}
.mt10 {
  margin-top: 0.1rem;
}
.mt20 {
  margin-top: 0.2rem;
}
.mt30 {
  margin-top: 0.3rem;
}
.mb0 {
  margin-bottom: 0;
}
.mb5 {
  margin-bottom: 0.05rem;
}
.mb10 {
  margin-bottom: 0.1rem;
}
.mb15 {
  margin-bottom: 0.15rem;
}
.mb20 {
  margin-bottom: 0.2rem;
}
.mb30 {
  margin-bottom: 0.3rem;
}
.mb40 {
  margin-bottom: 0.4rem;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.gs-btn.disabled,
.gs-btn[disabled] {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
  -moz-transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  -ms-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
a {
  outline: none;
}
a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a.gs-a01 {
  color: #1786ef;
}
a.gs-a01:hover {
  color: #1786ef;
}
a.gs-a02 {
  color: #42a5f5;
}
a.gs-a02:hover {
  color: #1786ef;
}
a.gs-ahv01:hover {
  color: #1786ef;
}
.gs-row {
  display: block;
  margin: 0px;
}
.gs-box {
  font-family: -apple-system-font, "微软雅黑", sans-serif;
  font-size: 0.14rem;
}
.gs-box:after {
  clear: both;
}
.gs-box:before,
.gs-box:after {
  display: table;
  content: " ";
}
.gs-col-12 {
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-11 {
  width: 91.66666667%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-10 {
  width: 83.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-9 {
  width: 75%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-8 {
  width: 66.66666667%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-7 {
  width: 58.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-6 {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-5 {
  width: 41.66666667%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-4 {
  width: 33.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-2 {
  width: 16.66666667%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-1 {
  width: 8.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
}
.gs-col-offset-12 {
  margin-left: 100%;
}
.gs-col-offset-11 {
  margin-left: 91.66666667%;
}
.gs-col-offset-10 {
  margin-left: 83.33333333%;
}
.gs-col-offset-9 {
  margin-left: 75%;
}
.gs-col-offset-8 {
  margin-left: 66.66666667%;
}
.gs-col-offset-7 {
  margin-left: 58.33333333%;
}
.gs-col-offset-6 {
  margin-left: 50%;
}
.gs-col-offset-5 {
  margin-left: 41.66666667%;
}
.gs-col-offset-4 {
  margin-left: 33.33333333%;
}
.gs-col-offset-3 {
  margin-left: 25%;
}
.gs-col-offset-2 {
  margin-left: 16.66666667%;
}
.gs-col-offset-1 {
  margin-left: 8.33333333%;
}
::after,
::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.gs-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-size: cover;
}
.icon-return {
  background-image: url("images/icon_return.png");
  width: 0.3rem;
  height: 0.3rem;
}
.icon-return2 {
  background-image: url("images/icon_return2.png");
  width: 0.3rem;
  height: 0.3rem;
}
.gs-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 0.2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.24rem;
  border-radius: 0.02rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  top: -0.009rem;
}
.gs-btn:focus,
.gs-btn:active:focus,
.gs-btn.active:focus,
.gs-btn.focus,
.gs-btn:active.focus,
.gs-btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.gs-btn:hover,
.gs-btn:focus,
.gs-btn.focus {
  color: #333;
  text-decoration: none;
}
.gs-btn:active,
.gs-btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.gs-btn.disabled,
.gs-btn[disabled],
fieldset[disabled] .gs-btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.gs-btn.disabled,
fieldset[disabled] a.gs-btn {
  pointer-events: none;
}
button.gs-btn {
  line-height: normal;
}
.gs-btn-default {
  color: #656d78;
  background-color: #fff;
  border-color: #e6e9ed;
  border-width: 2px;
}
.gs-btn-default:hover {
  color: #656d78;
  background-color: #fff;
  border-color: #4fc1e9;
}
.gs-btn-grey {
  color: white;
  background-color: #ccd1d9;
  border-color: #ccd1d9;
  border-width: 2px;
}
.gs-btn-grey:hover {
  color: white;
  background-color: #ccd1d9;
  border-color: #ccd1d9;
}
.gs-btn-info {
  color: #fff;
  background-color: #0a8fef;
  border-color: #0a8fef;
}
.gs-btn-info:hover {
  color: #fff;
  background-color: #0a8fef;
  border-color: #0a8fef;
}
.gs-btn-info:focus,
.gs-btn-info.focus {
  color: #fff;
  background-color: #0a8fef;
  border-color: #0a8fef;
}
.gs-btn-info:active,
.gs-btn-info.active,
.open > .dropdown-toggle.gs-btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.gs-btn-info:active:hover,
.gs-btn-info.active:hover,
.open > .dropdown-toggle.gs-btn-info:hover,
.gs-btn-info:active:focus,
.gs-btn-info.active:focus,
.open > .dropdown-toggle.gs-btn-info:focus,
.gs-btn-info:active.focus,
.gs-btn-info.active.focus,
.open > .dropdown-toggle.gs-btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.gs-btn-info:active,
.gs-btn-info.active,
.open > .dropdown-toggle.gs-btn-info {
  background-image: none;
}
.gs-btn-info.disabled,
.gs-btn-info[disabled],
fieldset[disabled] .gs-btn-info,
.gs-btn-info.disabled:hover,
.gs-btn-info[disabled]:hover,
fieldset[disabled] .gs-btn-info:hover,
.gs-btn-info.disabled:focus,
.gs-btn-info[disabled]:focus,
fieldset[disabled] .gs-btn-info:focus,
.gs-btn-info.disabled.focus,
.gs-btn-info[disabled].focus,
fieldset[disabled] .gs-btn-info.focus,
.gs-btn-info.disabled:active,
.gs-btn-info[disabled]:active,
fieldset[disabled] .gs-btn-info:active,
.gs-btn-info.disabled.active,
.gs-btn-info[disabled].active,
fieldset[disabled] .gs-btn-info.active {
  background-color: #3bafda;
  border-color: #3bafda;
}
.gs-btn-info .badge {
  color: #3bafda;
  background-color: #fff;
}
.gs-btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.gs-btn-success:focus,
.gs-btn-success:hover {
  color: #fff;
  background-color: #91cf91;
  border-color: #7fc77f;
}
.gs-btn-danger {
  color: #fff;
  background-color: #da4453;
  border-color: #da4453;
}
.gs-btn-danger:focus,
.gs-btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.gs-btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.gs-btn-danger:active,
.gs-btn-danger.active,
.open > .dropdown-toggle.gs-btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.gs-btn-danger:active:hover,
.gs-btn-danger.active:hover,
.open > .dropdown-toggle.gs-btn-danger:hover,
.gs-btn-danger:active:focus,
.gs-btn-danger.active:focus,
.open > .dropdown-toggle.gs-btn-danger:focus,
.gs-btn-danger:active.focus,
.gs-btn-danger.active.focus,
.open > .dropdown-toggle.gs-btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.gs-btn-danger:active,
.gs-btn-danger.active,
.open > .dropdown-toggle.gs-btn-danger {
  background-image: none;
}
.gs-btn-danger.disabled,
.gs-btn-danger[disabled],
fieldset[disabled] .gs-btn-danger,
.gs-btn-danger.disabled:hover,
.gs-btn-danger[disabled]:hover,
fieldset[disabled] .gs-btn-danger:hover,
.gs-btn-danger.disabled:focus,
.gs-btn-danger[disabled]:focus,
fieldset[disabled] .gs-btn-danger:focus,
.gs-btn-danger.disabled.focus,
.gs-btn-danger[disabled].focus,
fieldset[disabled] .gs-btn-danger.focus,
.gs-btn-danger.disabled:active,
.gs-btn-danger[disabled]:active,
fieldset[disabled] .gs-btn-danger:active,
.gs-btn-danger.disabled.active,
.gs-btn-danger[disabled].active,
fieldset[disabled] .gs-btn-danger.active {
  background-color: #da4453;
  border-color: #da4453;
}
.gs-btn-danger .badge {
  color: #da4453;
  background-color: #fff;
}
.gs-btn-sm {
  height: 28px;
  line-height: 24px;
  padding: 2px 15px;
  font-size: 13px;
}
.gs-btn.disabled,
.gs-btn.disabled.active,
.gs-btn.disabled.focus,
.gs-btn.disabled:active,
.gs-btn.disabled:focus,
.gs-btn.disabled:hover,
.gs-btn[disabled],
.gs-btn[disabled].active,
.gs-btn[disabled].focus,
.gs-btn[disabled]:active,
.gs-btn[disabled]:focus,
.gs-btn[disabled]:hover,
fieldset[disabled] .gs-btn,
fieldset[disabled] .gs-btn.active,
fieldset[disabled] .gs-btn.focus,
fieldset[disabled] .gs-btn:active,
fieldset[disabled] .gs-btn:focus,
fieldset[disabled] .gs-btn:hover {
  border-color: #ccd1d9;
  background: #ccd1d9;
}
*:focus {
  outline: none;
}
html,
body {
  width: 7.5rem;
}
body.gs-layout:before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
}
body.gs-bg-default {
  background: #fff;
}
body.gs-bg {
  background: #f6f5fb;
}
body.gs-bg2 {
  background: #0a8fef;
}
body.gs-bg3 {
  background: #f5f5fa;
}
input::-webkit-input-placeholder {
  font-size: 0.24rem;
}
input::-webkit-input-placeholder {
  font-size: 0.24rem;
}
input::-moz-placeholder {
  font-size: 0.24rem;
}
input:-ms-input-placeholder {
  font-size: 0.24rem;
}
.gs-wrap-cont {
  font-size: 0.26rem;
  margin-top: 0.8rem;
  padding: 0.05rem;
  height: auto;
}
.gs-wrap-footer {
  z-index: 9990;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.1rem;
  border-top: 1px solid #eee;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F8F8F8;
}
.gs-wrap-footer .gs-footer-a-list {
  height: 0.9rem;
  text-align: center;
  display: block;
  overflow: hidden;
  float: left;
  width: 1.5rem;
  color: #333;
  padding: 0.1rem 0;
}
.gs-wrap-footer .gs-footer-a-list img {
  width: 0.6rem;
  height: 0.6rem;
  margin-bottom: 0.08rem;
  display: block;
  margin: 0 auto;
}
.gs-nav-bar {
  font-weight: bold;
  text-align: center;
  z-index: 9990;
  position: fixed;
  color: #333;
  top: 0;
  left: 0;
  width: 7.5rem;
  height: 0.8rem;
  line-height: 0.8rem;
  border-bottom: 1px solid #eee;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background: #fafafa;
}
.gs-nav-bar .gs-center {
  text-align: center;
  order: 2;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  align-items: center;
  height: 0.8rem;
  width: 50%;
  margin: 0 auto;
  font-size: 0.26rem;
  font-weight: normal;
}
.gs-nav-bar .gs-navBar-item {
  padding-top: 0.09rem;
  padding-left: 0.2rem;
  float: left;
  height: 0.7rem;
}
.gs-nav-bar .gs-navBar-item2 {
  padding-top: 0.09rem;
  padding-right: 0.2rem;
  float: right;
  height: 0.7rem;
}
.gs-box-nodata {
  vertical-align: middle;
  font-size: 0.14rem;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  color: #999;
  text-rendering: optimizelegibility;
  text-align: center;
}
.gs-box-nodata .gs-box-nodata-icon {
  display: block;
}
.gs-box-nodata .gs-icon-nodata-130x163 {
  width: 1.3rem;
  height: 1.63rem;
  margin: 0 auto 10px;
  background: url(images/goods-error.png) no-repeat transparent;
  background-size: 100%;
  background-size: 100% 100%;
}
.gs-box-nodata .gs-icon-nodata-130x163 {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 auto;
  background: url(images/loading/state_img_nothing@2x.png) no-repeat transparent;
  background-size: 100%;
  background-size: 100% 100%;
}
.gs-box-nodata .gs-box-nodata-text {
  vertical-align: middle;
  line-height: 1.4em;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.gs-loading {
  text-align: center;
  font-size: 0.16rem;
  color: #a9a9a9;
  margin-top: 45px;
}
.gs-loading i {
  background: url(images/loading/loading.gif) no-repeat transparent;
  background-size: 100%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 0.4rem;
  height: 0.4rem;
}
.layui-m-layer-page-loaded .layui-m-layercont p {
  color: #333;
}
.gs-get-index {
  background: #fe7e46;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fe7e46 0%, #fa4f73 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fe7e46 0%, #fa4f73 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fe7e46 0%, #fa4f73 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe7e46', endColorstr='#fa4f73', GradientType=0);
  /* IE6-9 */
  height: 0.48rem;
  line-height: 0.48rem;
  width: 1.3rem;
  position: fixed;
  bottom: 0.5rem;
  right: 0;
  text-align: center;
  border-top-left-radius: 0.24rem;
  border-bottom-left-radius: 0.24rem;
}
.gs-get-index a {
  font-size: 0.24rem;
  color: #fff;
}
.gs-table-default {
  width: 100%;
}
.gs-table-default th {
  background: #eee;
}
.gs-table-default th,
.gs-table-default td {
  padding: 0.2rem 0.1rem;
  font-size: 0.24rem;
  color: #333;
}
.gs-table-default th a,
.gs-table-default td a {
  color: #333;
}
.aui-flex-mar {
  margin: 0 0.2rem;
  padding: 0.2rem 0;
}
.aui-flex-mar .aui-flex-head {
  width: 1.8rem;
  font-size: 0.24rem;
  color: #222222;
  text-align: right;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.aui-flex-mar .aui-flex {
  align-items: center;
  padding: 15px;
  position: relative;
}
.aui-flex-mar .aui-flex-box {
  min-width: 0;
  font-size: 0.26rem;
  color: #333;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.aui-flex-mar .aui-flex-search {
  font-size: 0.24rem;
  border: 1px solid #ededed;
  height: 0.6rem;
  padding: 0.2rem;
  width: 4.8rem;
}
.aui-flex-mar .b-line:after {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #e1e1e1;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.aui-flex-button-btn {
  text-align: center;
  position: relative;
  border: none;
  pointer-events: auto;
  width: 100%;
  display: block;
  font-size: 0.26rem;
  line-height: 0.6rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  color: #FFF;
  height: 0.6rem;
  outline: none;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#60a5f5), to(#4499ff));
  background-image: -webkit-linear-gradient(left, #60a5f5, #4499ff);
  background-image: -moz-linear-gradient(left, #60a5f5, #4499ff);
  background-image: linear-gradient(to right, #60a5f5, #4499ff);
  background-color: #4499ff;
}
.aui-flex-button-btn:hover {
  outline: none;
}
.gs-game-add-color {
  color: #ef6152;
}
.gs-game-reduce-color {
  color: #34b996;
}
.gs-game-flat-color {
  color: #333;
}
.gs-divHeight {
  width: 100%;
  height: 10px;
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
}
.mescroll {
  position: fixed;
  top: 0.8rem;
  padding-bottom: 0.7rem;
  height: auto;
  width: 7.4rem;
  background: white;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  /*菜单*/
  /*ios使用sticky样式实现*/
  /*android和pc端悬停*/
  /*展示上拉加载的数据列表*/
}
.mescroll::-webkit-scrollbar {
  width: 0 !important;
}
.mescroll .nav {
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: white;
}
.mescroll .nav p {
  display: inline-block;
  width: 30%;
  padding: 10px 0;
}
.mescroll .nav .active {
  border-bottom: 1px solid #FF6990;
  color: #FF6990;
}
.mescroll .nav-sticky {
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  font-size: 0.24rem;
}
.mescroll .nav-fixed {
  z-index: 9999;
  position: fixed;
  top: 44px;
  left: 0;
  width: 100%;
}
.mescroll .gs-nav-cat li {
  color: #333;
  float: left;
  padding: 0.15rem 0;
  text-align: center;
}
.mescroll .gs-table-tbody .gs-table-td {
  float: left;
  color: #333;
  padding: 0.15rem 0;
  text-align: center;
}
.mescroll .data-list li {
  position: relative;
  /*padding:10px 8px 10px 120px;*/
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.mescroll .mescroll-downwarp .downwarp-tip {
  font-size: 0.24rem;
}
.mescroll .mescroll-downwarp .downwarp-tip,
.mescroll .mescroll-upwarp .upwarp-tip {
  font-size: 0.24rem;
}
.mescroll .mescroll-downwarp .downwarp-progress,
.mescroll .mescroll-upwarp .upwarp-progress {
  width: 0.2rem;
  height: 0.2rem;
}
.mescroll .bg-white {
  background: white;
}
/*# sourceMappingURL=app.css.map */