
.gs-table-main{
  .gs-table-default{
    th{text-align: center;}
  }
}
.gs-yesrse-list{
  line-height: 0.4rem;
  padding: 0;
}

//下拉模拟列表重置
.mescroll{
  .gs-nav-cat li,
  .gs-table-tbody .gs-table-td{
    &:nth-child(1) {
      width: 1.48rem;
    }
    &:nth-child(2) {
      width: 1.48rem;
    }
    &:nth-child(3) {
      width: 1.48rem;
    }
    &:nth-child(4) {
      width: 1.48rem;
    }
    &:nth-child(5) {
      width: 1.48rem;
    }
  }
}
.aui-flex-mar .aui-flex-head{
  width: 2rem;
}


.mescroll-show-left {
  width: 2rem;
  background: #d8dfe8;
  position: fixed;
  height: 100%;
  font-size: 0.24rem;
  overflow-y: auto;
  ul{
    li{
      padding:0.1rem 0.05rem;
      text-align: center;
      color: #1786ef;
    }
  }
}
.mescroll-show-conten{
  transition:left .4s ease-out;
  position: fixed;
  height: 100%;
  z-index: 2;
  left: 2rem;
  background: #000;
  opacity:0;

}
.mescroll-show-right{
  left: 0.05rem;
  transition:left .4s ease-out;
}

.gs-subordinate-agent{
  font-size: 0.24rem;
  padding:0.1rem 0;
}


.m-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  z-index: 2000;
  width: 35px;
  height: 100%;
  font-size: 12px;
  color: #fff;
}

.m-sidebar .cart {
  color: #fff;
  text-align: center;
  line-height: 20px;
  padding: 200px 0 0 0px;
  top: 100px;
}

.m-sidebar .cart span {
  display: block;
  width: 20px;
  margin: 0 auto;
}

.m-sidebar .cart i {
  width: 35px;
  height: 35px;
  display: block;
}

.u-flyer {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  z-index: 9999;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #3c6efd;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  z-index: 999999999;
}
#end{
  position: relative;
  top: -0.8rem;
  z-index: 0;
}